<form [formGroup]="this.loginForm">
  <fieldset>
    <legend>Login</legend>
    <div class="form-field">
      <label>
        Username:
        <input formControlName="username" name="username"/>
      </label>
    </div>
    <div class="form-field">
      <label>
        Password:
        <input formControlName="password" name="password" type="password"/>
      </label>
    </div>
    <div class="form-buttons">
      <button (click)="login()" class="button button-primary">Login</button>
    </div>
  </fieldset>
</form>
